* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --rojoTitulo: #cc3333;
  --rojoDetalles: #ff6666;
  --rojoMain: #990000;
  --rojoBoton: #ff0000;
  --rojoFondoInput: #4f0000;
  --rojoBordeInput: #bf0404;
  --rojoBackRojo: #ff0000;
  --negro: #161616;
  --html: #e44d26;
  --css: #2965f1;
  --sass: #c56394;
  --boot: #7611f6;
  --js: #f0db4f;
  --php: #777bb3;
  --react: #149eca;
  --git: #f05033;
  --gith: #ffff;
  --figma: #0acf83;
  --photoshop: #2586ce;
}
.btn-close {
  font-size: 2rem;
}
#primero {
  max-width: 100vw;
  height: 100vh;
  background-image: url("assets/media/BackNegro.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Estilos Header */
#primero header {
  max-width: 100vw;
  height: 8%;
  background: black;
}
#primero header nav {
  background-color: black;
}
#primero header nav .nombre {
  color: var(--rojoTitulo);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.7rem;
}
#primero header nav .offcanvas {
  width: 70%;
}
#primero header nav .offcanvas-header {
  background-color: black;
}
#primero header nav .offcanvas-header .offcanvas-title {
  color: var(--rojoMain);
  font-size: 2rem;
}

#primero header nav .offcanvas-body {
  background-color: black;
}
#primero header nav .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: var(--rojoDetalles);
  font-size: 1.4rem;
  font-weight: 600;
}
#primero header nav .offcanvas-body .navbar-nav .dropdown .dropdown-menu {
  background-color: var(--negro);
}
#primero
  header
  nav
  .offcanvas-body
  .navbar-nav
  .dropdown
  .dropdown-menu
  .dropdown-item {
  color: var(--rojoDetalles);
  font-size: 1.1rem;
  font-weight: 600;
}

/* Estilos Presentacion */
#primero .hero {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}

#primero .hero .imagen {
  width: 350px;
  min-height: 350px;
  border-radius: 50%;
  background-color: var(--rojoMain);
  display: grid;
  place-items: center;
}
#primero .hero .imagen img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
#primero .hero .informacion {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#primero .hero .informacion .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#primero .hero .informacion .texto h1 {
  color: white;
  font-size: 3.3rem;
  font-weight: 700;
}
#primero .hero .informacion .texto h2 {
  font-size: 2.1rem;
  color: var(--rojoMain);
  font-weight: 700;
}
#primero .hero .informacion .texto p {
  font-size: 1.5rem;
  width: 80%;
  font-weight: 700;
}
#primero .hero .informacion .redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 20%;
}
#primero .hero .informacion .redes .red {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--rojoMain);
  display: grid;
  place-items: center;
}
#primero .hero .informacion .redes .red img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
#primero .hero .informacion .botones {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#primero .hero .informacion .botones button {
  height: 100%;
  width: 45%;
  font-size: 1.4rem;
  font-weight: 700;
}
#primero .hero .informacion .botones button a {
  text-decoration: none;
}
#primero .hero .informacion .botones .btn-1 {
  background-color: var(--rojoMain);
  border: none;
  outline: none;
  color: white;
}
#primero .hero .informacion .botones .btn-1 a {
  color: white;
}
#primero .hero .informacion .botones .btn-1:hover {
  background-color: transparent;
  border: 3px solid var(--rojoMain);
  color: var(--rojoMain);
}
#primero .hero .informacion .botones .btn-1:hover a {
  color: var(--rojoMain);
}
#primero .hero .informacion .botones .btn-2 {
  background-color: transparent;
  border: 3px solid var(--rojoMain);
  color: var(--rojoMain);
}
#primero .hero .informacion .botones .btn-2 a {
  color: var(--rojoMain);
}
#primero .hero .informacion .botones .btn-2:hover {
  background-color: var(--rojoMain);
  border: none;
  outline: none;
  color: white;
}
#primero .hero .informacion .botones .btn-2:hover a {
  color: white;
}

/* Estilos Sobre mi */
#sobremi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  align-items: center;
  background-image: url(assets/media/BackNegro.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#sobremi .container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sobremi h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}
#sobremi .rojo {
  color: var(--rojoMain);
}

#sobremi .texto {
  display: none;
}

#sobremi video {
  width: 100%;
  height: 100%;
}

/* Estilos Proyectos */
#proyectos {
  max-width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-image: url(assets/media/BackRojo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#proyectos h2 {
  color: white;
  font-size: 2rem;
  padding: 20px 0 10px 0;
}
#proyectos .rojo {
  color: var(--rojoBackRojo);
}
#proyectos #projects {
  display: none;
  pointer-events: none;
}
#proyectos #carouselExampleFade {
  width: 100%;
  height: 90%;
  display: grid;
  place-items: center;
}

#proyectos #carouselExampleFade .col {
  display: grid;
  place-items: center;
  min-height: 100%;
}
#proyectos #carouselExampleFade .card {
  background-color: black;
  width: 70%;
  min-height: 500px;
  max-height: 500px auto;
  color: white;
}
#proyectos #carouselExampleFade .card .card-body {
  padding: 5px 0 0 0;
}
#proyectos #carouselExampleFade .card .card-body .card-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--rojoMain);
}
#proyectos #carouselExampleFade .card .card-body p {
  font-size: 1.8rem;
  font-weight: 500;
}
#proyectos #carouselExampleFade .card .card-body .card-text {
  font-size: 1.2rem;
}
#proyectos #carouselExampleFade .card .card-footer {
  display: grid;
  place-items: center;
}
#proyectos #carouselExampleFade .card .card-footer .lenguajes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#proyectos #carouselExampleFade .card .card-footer .lenguajes .lenguaje {
  width: 35px;
  height: 35px;
  margin: 5%;
}
#proyectos #carouselExampleFade .card .card-footer .lenguajes .lenguaje img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#proyectos #carouselExampleFade .card .imagen {
  width: 100%;
  height: 200px;
}
#proyectos #carouselExampleFade .card .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#proyectos #carouselExampleFade .card .imagen .overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: 100%;
  height: 100%;
  position: relative;
  top: -100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  pointer-events: none;
}
#proyectos #carouselExampleFade .card .imagen:hover .overlay {
  display: flex;
  pointer-events: inherit;
}

/* Habilidades Estilos */
#habilidades {
  max-width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/media/BackNegro.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#habilidades h3 {
  color: white;
  font-size: 2.5rem;
  width: 80%;
}
#habilidades .rojo {
  color: var(--rojoMain);
}
#habilidades .container {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#habilidades .container .hab {
  background-color: black;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
#habilidades .container .hab img {
  max-width: 100%;
  max-height: 65%;
  object-fit: contain;
}
#habilidades .container .hab p {
  color: wheat;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}
#habilidades .container .hab .texto .second {
  display: none;
}
#habilidades .container .hab .html {
  color: var(--html);
}
#habilidades .container .hab .css {
  color: var(--css);
}
#habilidades .container .hab .sass {
  color: var(--sass);
}
#habilidades .container .hab .js {
  color: var(--js);
  font-size: 1.2rem;
}
#habilidades .container .hab .boot {
  color: var(--boot);
  font-size: 1.2rem;
}
#habilidades .container .hab .php {
  color: var(--php);
}
#habilidades .container .hab .react {
  color: var(--react);
}

#habilidades .container .hab .git {
  color: var(--git);
}

#habilidades .container .hab .github {
  color: var(--gith);
}

#habilidades .container .hab .figma {
  color: var(--figma);
}

#habilidades .container .hab .photo {
  color: var(--photoshop);
  font-size: 1rem;
}

/* Estilos Contacto */
#contacto {
  max-width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(assets/media/BackRojo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#contacto form {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contacto .informacion {
  display: none;
  pointer-events: none;
}
#contacto form div {
  width: 85%;
  height: 13%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
}
#contacto form div label {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}
#contacto form div input {
  background-color: var(--rojoFondoInput);
  border: 4px solid var(--rojoBordeInput);
  outline: none;
  width: 100%;
  height: 65%;
  margin-top: 5px;
  color: white;
  padding: 0 0 5px 10px;
  font-size: 1.3rem;
  font-weight: 600;
}
#contacto form div input::placeholder {
  color: white;
  font-size: 1.1rem;
}
#contacto form .textarea {
  height: 45%;
}
#contacto form .textarea textarea {
  height: 85%;
  width: 100%;
  background-color: var(--rojoFondoInput);
  border: 4px solid var(--rojoBordeInput);
  outline: none;
  color: white;
  padding: 0 0 0 10px;
  font-size: 1.3rem;
  font-weight: 600;
  resize: none;
}
#contacto form .textarea textarea::placeholder {
  color: white;
  font-size: 1.1rem;
}
#contacto form input {
  background-color: var(--rojoBoton);
  width: 85%;
  outline: none;
  border: none;
  height: 6%;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

footer {
  background-color: var(--negro);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

footer .arriba {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}
footer .arriba h5 {
  color: var(--rojoTitulo);
  font-size: 3rem;
  border-bottom: 3px solid red;
  padding-bottom: 10px;
}
footer .arriba .redes {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .arriba .redes .red {
  width: 50px;
  height: 50px;
  background-color: var(--rojoTitulo);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}
footer .arriba .redes .red:hover {
  transform: scale(1.1);
}

footer .arriba .redes .red img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

footer .links {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
footer .links ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  place-items: center;
  text-align: center;
  padding: 0;
}
footer .links ul li a {
  font-size: 1.4rem;
  color: var(--rojoMain);
  text-decoration: none;
}
footer .links ul li a:hover {
  color: #ff0000;
}

@media (min-width: 770px) {
  #primero header nav .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
    color: var(--rojoMain);
  }
  #primero header nav .offcanvas {
    width: 40%;
  }
  #primero
    header
    nav
    .offcanvas-body
    .navbar-nav
    .dropdown
    .dropdown-menu
    .dropdown-item:hover {
    background-color: #232323;
    color: var(--rojoMain);
  }
  #primero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #primero .hero {
    flex-direction: row-reverse;
    width: 90%;
  }
  #primero .hero .imagen {
    width: 550px;
    height: 550px;
  }
  #primero .hero .informacion {
    height: 490px;
    width: 50%;
    align-items: flex-start;
  }
  #primero .hero .informacion .texto {
    height: 60%;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    text-align: start;
  }
  #primero .hero .informacion .texto h1 {
    letter-spacing: 6px;
    font-size: 4rem;
  }
  #primero .hero .informacion .texto h2 {
    letter-spacing: 3px;
    font-size: 2.5rem;
  }
  #primero .hero .informacion .texto p {
    font-size: 1.8rem;
    width: 70%;
  }
  #primero .hero .informacion .redes {
    width: 60%;
  }
  #primero .hero .informacion .redes .red {
    width: 60px;
    height: 60px;
    transition: all ease 0.2s;
  }
  #primero .hero .informacion .redes .red:hover {
    transform: scale(1.1);
  }
  #sobremi {
    height: 90vh;
  }
  #sobremi .container {
    flex-direction: row;
    justify-content: space-around;
    height: 90%;
  }
  #sobremi .container .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    width: 55%;
    height: 90%;
  }
  #sobremi .container .texto p {
    font-size: 1.3rem;
    font-weight: 500;
    width: 85%;
  }
  #sobremi .container .texto .intereses {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #sobremi .container .texto .intereses .container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #sobremi .container .texto .intereses .interes {
    background-color: var(--rojoMain);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  #sobremi .container .texto .intereses .interes img {
    width: 50px;
  }
  #sobremi .container .texto .intereses .interes p {
    margin: 0;
  }
  #sobremi .container video {
    width: 40%;
    height: 100%;
  }
  #contacto {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #contacto form {
    width: 45%;
  }
  #contacto .informacion {
    display: flex;
    pointer-events: inherit;
    flex-direction: column;
    width: 55%;
  }
  #contacto .informacion h4 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  #contacto .informacion .rojo {
    color: var(--rojoBackRojo);
  }
  #contacto .informacion .parrafo-princ {
    color: white;
    font-size: 1.2rem;
    width: 100%;
  }
  #contacto .informacion .data {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #contacto .informacion .data .dato {
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--negro);
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.522);
  }
  #contacto .informacion .data .dato .texto {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  #contacto .informacion .data .dato .texto p {
    margin: 0;
    color: var(--rojoMain);
    font-weight: 600;
  }
  #contacto .informacion .data .dato .texto .principal {
    color: white;
    font-size: 1.5rem;
  }
  #habilidades {
    height: 65vh;
    padding: 40px;
  }
  #habilidades .container {
    width: 90%;
  }
  #habilidades .container .hab {
    width: 300px;
    height: 70px;
    flex-direction: row;
  }

  #habilidades .container .hab img {
    width: 30%;
    height: 100%;
  }

  #habilidades .container .hab .texto {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #habilidades .container .hab .texto .second {
    display: block;
    font-size: 0.7rem;
    color: whitesmoke;
  }
  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer .arriba {
    width: 40%;
    height: 50%;
  }
  footer .links {
    width: 50%;
  }
  footer .links ul {
    grid-template-columns: repeat(4, 1fr);
  }

  #proyectos {
    height: auto;
  }

  #proyectos #carouselExampleFade {
    display: none;
    pointer-events: none;
  }
  #proyectos #projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
    padding-bottom: 30px;
  }
  #proyectos #projects .col {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  #proyectos #projects .card {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
  }
  #proyectos #projects .card .card-body {
    padding: 5px 0 0 0;
  }
  #proyectos #projects .card .card-body .card-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--rojoMain);
  }
  #proyectos #projects .card .card-body p {
    font-size: 1.8rem;
    font-weight: 500;
  }
  #proyectos #projects .card .card-body .card-text {
    font-size: 1.2rem;
  }
  #proyectos #projects .card .card-footer {
    display: grid;
    place-items: center;
  }
  #proyectos #projects .card .card-footer .lenguajes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  #proyectos #projects .card .card-footer .lenguajes .lenguaje {
    width: 35px;
    height: 35px;
    margin: 5%;
  }
  #proyectos #projects .card .card-footer .lenguajes .lenguaje img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #proyectos #projects .card .imagen {
    width: 100%;
    height: 200px;
  }
  #proyectos #projects .card .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #proyectos #projects .card .imagen .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    pointer-events: none;
  }
  #proyectos #projects .card .imagen:hover .overlay {
    display: block;
    pointer-events: inherit;
    z-index: 10;
  }
}
